body{
    margin: 2%;
}

.waku{
    border:2px solid #00171F;
    width: 60%
}

.link{
    color:#222;
    position: relative;
    width:92%;
    float: left;
    padding:5px;
}

.link a{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height:90%;
    width: 100%;
}

 /* 以下マウスを載せたときのスタイル */
.link a:hover{
    color: #222;
    text-decoration: none;
    opacity: 0.25;  /* 要素を透明にするタグ */
    background-color: #E6EBE0;
}

.right{
    width: auto;
    margin-left:93%;
}

.board{
	border: 1px solid #000000;
	width: 60%;
}